$primary-blue: #21B3D1;
$primary-red: #D81F44;
$primary-green: #5CCD62;
$primary-yellow: #F8B823;
$primary-gray: #45595E;

// Gray Colors
$text-gray: #374F54;
$light-gray: #CBD9DC;
$lighter-gray: #DDECEF;
